.board{
    display:flex;
    margin-left:34%;
 
}

.cell{
    width: 130px;
    height: 130px;
    background-color: #e0ebeb;
    border: 2px solid #94b8b8;
    align-content: center;
}

.cell:hover{
    background-color: #d0e1e1;
}

.resetButton{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #94b8b8;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.container {
    text-align: center;

}